nav{
    display: flex;
    justify-content: space-between;
    color: rgb(8, 7, 7);
    padding: 20px 40px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: black;
    height: 90px;
}
.link{
    display: flex;
    gap: 30px;
    
}
.link a{
    text-decoration: none;
    font-size: 23px;
    color: aliceblue;
    cursor: pointer;
}
.link a:hover{
    color: orange;
}